{% extends 'job/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ vacancy.title }} | {{ block.super }}
{% endblock title %}

{% block style %}
    {% include 'job/inc/_style_auth.html' %}
{% endblock style %}

{% block content %}
    <div class="row mt-5">
        {% include 'job/inc/cabinet_sidebar.html' %}
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body px-4 pb-4">
                    <div class="pl-3 mb-5">
                        <p><a href="{% url 'my_company_vacancies' %}">Назад</a></p>
                    </div>

                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="form-group">
                            <input type="submit" class="btn btn-info" value="Сохранить">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}