{% extends 'job/base.html' %}
{% load static %}

{% block title %}
    Успешний отклик | {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-6 justify-content-center">
            <h3>Ваше сообщение успешно отправлено</h3>

            <img src="{% static 'job/check.png' %}" alt="Ok" class="my-4" style="display: flex; margin: auto;">
            {% for item in vacancy %}
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Компания:
                                <strong>{{ item.company.name| title }}</strong>
                                <img src="{{ item.company.logo.url }}" alt="{{ item.company.name }}" width="100" height="60">
                            </li>
                            <li class="list-group-item">Вакансия: <strong>{{ item.title}}</strong></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}