{% extends 'job/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ vacancy.title }} | {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 col-lg-2">
            <div class="pl-3 mb-5">
                <p><a href="{% url 'vacancies_cat' vacancy.specialty.code %}">Назад</a></p>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <section class="pl-3">
                <a href="{% url 'company_detail' vacancy.company.id %}"><img src="{{ vacancy.company.logo.url }}" width="100" height="60" alt=""></a>
                <div class="d-flex align-items-baseline align-content-baseline">
                    <h1 class="h2 mt-4 font-weight-bold">{{ vacancy.title }}</h1>
                    <p class="m-0 pl-3">{{ vacancy.salary_min }} – {{ vacancy.salary_max }} Р</p>
                </div>
                <p class="mt-2">
                    {% if vacancy.skills != None %} {{ vacancy.skills }} {% endif %}
                </p>
                <p class="text-muted mb-4">
                    {{ vacancy.company.name | title }}
                    {% if vacancy.company.employee_count %}({{ vacancy.company.employee_count }} человек),{% endif %}
                    {% if vacancy.company.location %}{{ vacancy.company.location }}{% endif %}
                </p>
                <div style="line-height: 1.8;">
                    <p>{{ vacancy.description }}</p>
                </div>
                <form action="{{ vacancy_id }}/send/" method="post" class="card mt-4 mb-3">
                    <div class="card-body mx-3">
                        <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" class="btn btn-primary mt-4 mb-2" value="Записаться на пробный урок">
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock content %}